body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin-top: 2px;
  color: black;
  width: 100%;
}
  

 /* own device */

@media (max-width:420px) { 

  .nav-link {
    display: block;
    padding: 10px !important;
    text-decoration: none;
    
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    float: left !important;

 }
}


/*
    mostly use bg : #0a5cca4d
*/
a {
  color: #09101a4d;
  letter-spacing: 2px;
  border-color: purple;
  text-decoration: none !impo;
}

.nav-box-size ul {
  padding-left: 0rem;
  list-style: none;
  padding-inline: 12px;
}

#loc-img
{
  color: #ffc144;
  width: 13px;
}

#loc
{
  padding: 2px;
  color: #ffc144;
  font-family: monospace;
  letter-spacing: 0.2px;
  font-size: 14px;
}
 

#navbarDarkDropdownMenuLink {
  padding-left: 28px;
  float: right;
  margin-bottom: 10px;
  color: #d98843d1;
  margin-right: 0;
}

/* list item */
.dropdown-menu-dark .dropdown-item {
  color: #dee2e6;
  height: 40px;
  text-align: center;
  background-color: forestgreen;
}


#logo-part{

float: left;
padding-right: 25px;

}

.btn [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
    float: right;
    
}

.self
{
  margin-right: 2px;
}

.navbar {
 
  
  padding-bottom: 0rem !important;
  padding-right: 1rem !important;
  padding-left: 0rem !important;
  padding-top: 0rem !important;
  display: flex;
}
.navbar-toggler {
  padding: .25rem .75rem;
  font-size: 6px;
  line-height: 1;
  background-color: transparent;
}
.ul-list
{

  margin:0px;
}
#extra-menu
{
  color: black;
  background-color: #06040903;
  width: 363px;
  height: 363px;
  margin-top: 3px;
  
}

/* 
 color: black;
  background-color: #06040903;
  width: 363px;
  height: 363px;
  margin-top: 3px;

*/

.left-sec
{

  
  width: 399px;
  margin-top:6px;
  margin-left: 6px;
  background-color: rgb(184 134 11 / 1%);
 
}



#advan-search
{
    padding-top: 8px;
   
    font-family: monospace;
    text-align: center;
    
}
#advan
{
  font-size: 30px;
  color:#ffc107;
  
}
#span-search
{
 font-size: 26px;
 color:#0c9a9ab3;
}

#span-serve
{
  font-size: 20px !important;
  color: #6c757d;
 
  
}


.left-sec .card-body {
  flex: 1 1 auto;
  padding: 7px 1px;
}

.quick-service #quick-img
{
  padding-left: 25px;
  padding-top: 21px;
  width: 100%;
  
}

#simple
{
  color: cadetblue;
  margin-top:12px;
  font-size: x-large;

}
.img-setS
{
  width: 100%;
  height: auto;
  padding-top: 2px;
 
}


.img-center
{

  padding-top: 8px;

  padding-left: 70px;
  
}
.outline-btn

{

  background-color: transparent;
  color: cadetblue;
  width: 51%;
  margin-right: 28px;
  margin: auto;
  border-color: aliceblue;
}

.grid-self
{
  width: 90%;
    height: auto;
    padding-top: 18px;
    padding-left: 0px;
    margin-left: 45px;
}


.col-1{

  width: 40%;
  
   height:70px;
   float: left;
   border: 1px solid #ffc144;
   border-right-style: hidden;
   border-bottom-style:hidden;
}
.col-2{

  width: 40%;
  
   height:70px;
   float: left;;
   border: 1px solid #ffc144;
 
   border-bottom-style: hidden;
  
}


.header-box-left
{
  width: 100%;
  background-color:#ffc144c2;
  height: 35px;

}


.header-box-right
{
  width: 100%;
  background-color:#ffc144;
  height: 35px;
}

#vac
{
  color: #fefefc;
  font-size: 20px;
  margin-left: 15px;
}
#occ
{
  color:rgb(177, 22, 55);
  font-size: 20px;
  margin-left: 14px ;
}





#hr-1
{
  margin: 1px 0 !important;
  
    opacity: 0.12 !important;
}
#message
{
  width: 100%;
  height: 120px;
  background-color: brown;
  float:right;
  margin-top: 3px;

}
.link-owner

{
  margin-top: 15px;
  float: left;
 
}

#cre
{
  font-family: monospace;
    color: cornflowerblue;
    font-size: x-large;
    font-style: inherit;
    padding-left: 20px;
}
#acc
{
  color: cadetblue;
  font-size: large;
  font-family: cursive;
  font-variant-caps: titling-caps;
}
#holder
{
  font-size: medium;
  color: darkgoldenrod;
  font-family: system-ui;
  border: 1px solid #ffc144;
}

#holder:hover
{
  
  color: rgb(192, 184, 164);
  
}






/*  */

.footer-down
{
  position: fixed;
  width: 100%;
  height:30px;
  background-color: aquamarine;
  bottom: 0;
}